<div class="container text-center mb3">

<h1>Restaurants</h1>

<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-primary" %>
<hr>

<ul class="list-unstyled">
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
</ul>

</div>
